OutPut:/mnt/hgfs/E/TeamServerCluster/Bin/Platform/Linux/Debug/


Include
/mnt/hgfs/E/TeamServerCluster/TeamSDK/BaseInterface
/mnt/hgfs/E/TeamServerCluster/Protocols
/mnt/hgfs/E/TeamServerCluster/TeamSDK/Lib/third_lib/mysql/linux/include

linux

Lib
pthread
crypto
TeamNet
TeamUtil
mysqlclient_r
curl

Lib Path
/mnt/hgfs/E/TeamServerCluster/TeamSDK/Lib/native_lib/Platform/Linux/Debug
/mnt/hgfs/E/TeamServerCluster/TeamSDK/Lib/third_lib/mysql/linux/lib


yum install libcurl-devel


windows
Include
..\..\TeamSDK\BaseInterface
..\..\Protocols
..\..\TeamSDK\Lib\third_lib\mysql\windows\include

(curl,openssl,ssh,zlib)
TeamHtps.lib(http,https,ssl)
TeamUtil.lib
TeamNet.lib
libmysql.lib
zlibd.lib
libeay32.lib
ssleay32.lib
libssh2.lib
libcurl.lib
winmm.lib
wldap32.lib

PreProcess
WIN32
_DEBUG
_CONSOLE
_CRT_SECURE_NO_WARNINGS
BUILDING_LIBCURL
HTTP_ONLY

LibDir
..\..\TeamSDK\Lib\native_lib\Platform\Windows\X64\Debug
..\..\TeamSDK\Lib\third_lib\mysql\windows\lib\X64

http://config.21pink.com/格式/表名

http://test.config.21pink.com/csv/表名
http://test.config.21pink.com/json/表名


http://config.21pink.com/json/lib_platform
